pre {outline: 1px solid #ccc; padding: 5px; margin: 5px;}
pre.info {float:left;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
a {text-decoration: none;}
a.active {text-decoration: underline; color: red}
