pre {outline: 1px solid #ccc; padding: 5px; margin: 5px;}
pre.info {float:left;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
/*a {text-decoration: none;}*/
/*a.active {text-decoration: underline; color: red}*/
/*.fa {vertical-align: bottom}*/
.row {margin-bottom: 20px;}
.container-fluid {margin-top:20px;}
/*h2 a.btn {margin:0 10px;}*/
